h1{
    background-color: #7fb9c2;
    padding-bottom: 0pt;
    margin-bottom: 0pt;
    text-align: center;
    width: 50%;
}

p{
    background-color: #7fb9c2;
    padding-bottom: 0pt;
    margin-bottom: 0pt;
    padding-top: 0pt;
    margin-top: 0pt;
    text-align: center;
    width: 50%;
}
thead{
    background-color: #7fb9c2;
    padding-bottom: 0pt;
    margin-bottom: 0pt;
    text-align: center;
    width: 50%;
}

tfoot{
    background-color: #7fb9c2;
    padding-bottom: 0pt;
    margin-bottom: 0pt;
    text-align: center;
    width: 50%;
}

p{
    background-color:#7fb9c2 ;
    padding-top: 0pt;
    margin-top: 0pt;
    text-align: center;
    width: 50%;
}
#table {
    font-family:  'Ubuntu', 'sans-serif';
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    border-collapse: collapse;
  }
  
  #table tr{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  #table td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  #table tr:nth-child(even){background-color: #e7f0ed;}

  #table tr:nth-child(odd){background-color: #e7ffed;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    text-align: center;
    background-color: #628ca6;
    color: white;
    align-content: center;
    align-items: center;
  }